<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a routerLink="home"><i
                                class="fa fa-arrow-right"></i>Home</a></li>
                    <li><a routerLink="about"><i
                                class="fa fa-arrow-right"></i>About Us</a></li>
                    <li><a routerLink="organisation"><i
                                class="fa fa-arrow-right"></i>Organisation</a></li>
                    <!-- <li><a routerLink="InvestorsContacts"><i
                                class="fa fa-arrow-right"></i> Investors</a></li> -->
                    <li><a routerLink="partners"><i
                                class="fa fa-arrow-right"></i>Partners</a></li>
                    <li><a routerLink="game-info"><i
                                class="fa fa-arrow-right"></i>Game Info</a></li>
                    <li><a routerLink="contactUs"><i
                                class="fa fa-arrow-right"></i>Contact us</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <h5>Headquarter</h5>
                <p class="adr">
                    <strong> Address:</strong>
                    1st Floor, 37, Link Rd, Block A,
                     Lajpat Nagar III,Lajpat Nagar, New Delhi,
                      Delhi 110024<br>
                    <strong>Phone:</strong> 011-4200, 4400<br>
                    <strong>Email:</strong>
                    business@triangulumsports.com
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <h5>Head Office</h5>
                <p>
                    <strong>Address:</strong>
                    C-56/5, 3rd Floor, Mantec Tower,
                    Sector-62, Noida-201301, India<br>
                    <strong>Phone</strong>
                     0120-4377023<br>
                    <strong>Email:</strong>
                    info@triangulumsports.com
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                    <a routerLink="home"> 
                <img src="assets/img/sports-logo-13.png" width="90%" height="auto" class="logo-img" />
                </a>
                <ul class=" list-inline social-text-center">
                        <li class="list-inline-item"><a href=""><i
                            class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/company/triangulumsports" ><i
                            class="fa fa-linkedin"></i></a></li>
                     <li class="list-inline-item"><a href="https://twitter.com/TriangulamS?s=08" ><i
                                 class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="https://www.facebook.com/triangulumsports" ><i
                              class="fa fa-facebook"></i></a></li>
           <li class="list-inline-item"><a routerLink="/contactUs"><i
                                class="fa fa-phone"></i></a></li>
                    </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <br>
                <p class="h6" style="color:black;">
                   © 2019 All Copyrights Reserved by <strong>
                       <a routerLink="home"> Triangulum Sports</a>
                    </strong> Pvt Ltd
                </p>
            </div>
        </div>
    </div>
</section>