<mat-card class="footer-top">
    <div class="row">
        <div class="col-md-4">
<span class="f-circle">
    <i class="material-icons">settings_phone </i>
</span>
&nbsp;
<span class=f-text>
    <span class="f-heading">Reach Us A Call</span><br>
    <span class="f-para">+011-23452</span>
</span>
        </div>

        <div class="col-md-4">
                <span class="f-circle">
                        <i class="material-icons"> email </i>
                    </span>
                    &nbsp;
                    <span class=f-text>
                        <span class="f-heading">Or Drop Us Email</span><br>
                        <span class="f-para">info@triangulumsports.com</span>
                    </span>
        </div>

        <div class="col-md-4">
                <span class="f-circle">
                        <i class="material-icons">location_on</i>
                    </span>
                    &nbsp;
                    <span class=f-text>
                        <span class="f-heading">Our Main Office</span><br>
                        <span class="f-para">New Delhi (India)</span>
                    </span>
        </div>
    </div>
</mat-card>


<mat-card class="main-footer">
<br><br>
<div class="row">
<div class="col-md-4">
    <br>
        <h3>CONTACT US</h3>
        <p>
          Tringulum Sports <br />
          C-56/5, 3rd Floor, Mantec Tower,<br />
          Sector-62, Noida-201301, India<br />
          
</div>

<div class="col-md-4">
<h4>QUICK LINKS</h4>
<div class="links">- Home</div>
<div class="links">- Abouts</div>
<div class="links">- Online Game Info</div>
<div class="links">- Organisation</div>
<div class="links">- Partners</div>
<div class="links">- Contact Us</div>
    </div>

    <div class="col-md-4">
        <br>
      <div class="tri-heading">TRIANGULUM  SPORTS</div>
     <div class="tri-para">A Short description to describe about your good company.
          Remember to make it short & prices, so that people will 
          know more about your company in general.
     </div>
      <br>
      <div class="footer-social-link">
             <ul>
                  <li>
                      <a href="#">
                          <img src="assets/img/i.png" height="35"  width="35">
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <img src="assets/img/l.png" height="34"  width="34">
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <img src="assets/img/t.png" height="41"  width="41">
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <img src="assets/img/w.png" height="30"  width="30">
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <img src="assets/img/f.png" height="39"  width="40">
                      </a>
                  </li>
      
                  <li>
                      <a href="#">
                          <img src="assets/img/h.png" height="34"  width="37">
                      </a>
                  </li>
              </ul>
          </div>
        </div>

</div>





</mat-card>

<div
  class="footer"
  style="background-color:rgb(15,39,101); color:rgb(192, 189, 189); text-align: center;"
>
© 2019 All Copyrights: | Reserved by Tringulum Sports Pvt Ltd || Design & Developed: | by
  <a href="http://magathconsultants.com/" style="color:rgb(248, 239, 239);"
    >Magath Consultants Private Limited</a
  >
</div>