<div class="screen-one screen">
  <div class="circle"></div>
  <div class="menu">
    <div class="row m-0 pos">
      <div class="col-md-3 bg-1 for-o">
        <h1 class="head-1">E-Sport</h1>
        <h3 class="head-2">The rise of new era For Gaming</h3>
      </div>
      <div class="col-md-3 bg-2 for-o">
        <h1 class="head-1">competition</h1>
        <h3 class="head-2">The rise of new era For Gaming</h3>
      </div>
      <div class="col-md-3 bg-3 for-o">
        <h1 class="head-1">Future Of E-Sport</h1>
        <h3 class="head-2">The rise of new era For Gaming</h3>
      </div>
      <div class="col-md-3 bg-4 for-o">
        <div class="logo">
          <img class="avatar" src="assets/img/sports-logo-12.png" alt="Logo Image">
        </div>
        <ul class="menu-a">
          <li><a routerLink="">Game Info</a></li>
          <li><a routerLink="">Organizational Structure</a></li>
          <li><a routerLink="">Partners </a></li>
          <li><a routerLink="">About Us </a></li>
        </ul>
        <div class="icons">
          <a class="social-icon"><i class="fa fa-facebook-official fa-2x"></i></a>
          <a class="social-icon"><i class="fa fa-twitter fa-2x"></i></a>
          <a class="social-icon"><i class="fa fa-linkedin fa-2x"></i></a>
        </div>
        <!-- <p class="info-1"><span class="lig">All copyrights reserved</span><br>Sports Arena Au</p>
        <p class="info"><span class="lig">Developed by</span><br>Magath Consultants Pvt India</p> -->
      </div>
    </div>
  </div>
  <div class="burger">
    <div class="x"></div>
    <div class="y"></div>
    <div class="z"></div>
  </div>
</div>