<div class="footer">
    
      <span class="one"> 
            <div class="footer-social-link">
                    <ul>
                         <li>
                             <a href="#">
                                 <img src="assets/img/i.png" height="35"  width="35">
                             </a>
                         </li>
                         <li>
                             <a href="https://www.linkedin.com/company/triangulumsports">
                                 <img src="assets/img/l.png" height="35"  width="35">
                             </a>
                         </li>
                         <li>
                             <a href="https://twitter.com/TriangulamS?s=08">
                                 <img src="assets/img/t.png" height="40"  width="40">
                             </a>
                         </li>
                        
                         <li>
                             <a href="https://www.facebook.com/triangulumsports">
                                 <img src="assets/img/f.png" height="43"  width="43">
                             </a>
                         </li>
             
                        

                         <li>
                                <a routerLink="/contactUs">
                                    <img src="assets/img/contact1.png" height="40"  width="45">
                                </a>
                            </li>
                     </ul>
                 </div>
      </span> 
      </div>
