<svg id='example' viewBox='0 30 100 40'>
    <defs>
        <mask id='mask-1' x='0' y='0' width='100' height='100'>
            <rect class='part' x='0' y='0'  width='0' height='10.2' fill='#fff' />
            <rect class='part' x='0' y='10' width='0' height='10.2' fill='#fff' />
            <rect class='part' x='0' y='20' width='0' height='10.2' fill='#fff' />
            <rect class='part' x='0' y='30' width='0' height='10.2' fill='#fff' />
            <rect class='part' x='0' y='40' width='0' height='10.2' fill='#fff' />
            <rect class='part' x='0' y='50' width='0' height='10.2' fill='#fff' />
            <rect class='part' x='0' y='60' width='0' height='10.2' fill='#fff' />
            <rect class='part' x='0' y='70' width='0' height='10.2' fill='#fff' />
            <rect class='part' x='0' y='80' width='0' height='10.2' fill='#fff' />
            <rect class='part' x='0' y='90' width='0' height='10.2' fill='#fff' />
            <rect class='full' x='0' y='0' width='100' height='100' fill='#fff' opacity='0' />
        </mask>
        <mask id='mask-2' x='0' y='0' width='100' height='100'>
            <rect class='part' x='0'  y='0' width='10.2' height='0' fill='#fff' />
            <rect class='part' x='10' y='0' width='10.2' height='0' fill='#fff' />
            <rect class='part' x='20' y='0' width='10.2' height='0' fill='#fff' />
            <rect class='part' x='30' y='0' width='10.2' height='0' fill='#fff' />
            <rect class='part' x='40' y='0' width='10.2' height='0' fill='#fff' />
            <rect class='part' x='50' y='0' width='10.2' height='0' fill='#fff' />
            <rect class='part' x='60' y='0' width='10.2' height='0' fill='#fff' />
            <rect class='part' x='70' y='0' width='10.2' height='0' fill='#fff' />
            <rect class='part' x='80' y='0' width='10.2' height='0' fill='#fff' />
            <rect class='part' x='90' y='0' width='10.2' height='0' fill='#fff' />
            <rect class='full' x='0' y='0' width='100' height='100' fill='#fff' opacity='0' />
        </mask>
        <mask id='mask-3' x='0' y='0' width='100' height='100'>
            <rect class='part' x='100' y='0'  width='100' height='10.2' fill='#fff' />
            <rect class='part' x='100' y='10' width='100' height='10.2' fill='#fff' />
            <rect class='part' x='100' y='20' width='100' height='10.2' fill='#fff' />
            <rect class='part' x='100' y='30' width='100' height='10.2' fill='#fff' />
            <rect class='part' x='100' y='40' width='100' height='10.2' fill='#fff' />
            <rect class='part' x='100' y='50' width='100' height='10.2' fill='#fff' />
            <rect class='part' x='100' y='60' width='100' height='10.2' fill='#fff' />
            <rect class='part' x='100' y='70' width='100' height='10.2' fill='#fff' />
            <rect class='part' x='100' y='80' width='100' height='10.2' fill='#fff' />
            <rect class='part' x='100' y='90' width='100' height='10.2' fill='#fff' />
            <rect class='full' x='0' y='0' width='100' height='100' fill='#fff' opacity='0' />
        </mask>
        <mask id='mask-4' x='0' y='0' width='100' height='100'>
            <rect class='part' x='0'  y='100' width='10.2' height='100' fill='#fff' />
            <rect class='part' x='10' y='100' width='10.2' height='100' fill='#fff' />
            <rect class='part' x='20' y='100' width='10.2' height='100' fill='#fff' />
            <rect class='part' x='30' y='100' width='10.2' height='100' fill='#fff' />
            <rect class='part' x='40' y='100' width='10.2' height='100' fill='#fff' />
            <rect class='part' x='50' y='100' width='10.2' height='100' fill='#fff' />
            <rect class='part' x='60' y='100' width='10.2' height='100' fill='#fff' />
            <rect class='part' x='70' y='100' width='10.2' height='100' fill='#fff' />
            <rect class='part' x='80' y='100' width='10.2' height='100' fill='#fff' />
            <rect class='part' x='90' y='100' width='10.2' height='100' fill='#fff' />
            <rect class='full' x='0' y='0' width='100' height='100' fill='#fff' opacity='0' />
        </mask>
    </defs>
    <image width='100' height='100' xlink:href='assets/img/org4.jpg' />

    <image width='100' height='100' xlink:href='assets/img/org2.jpg' mask='url(#mask-1)' />
    <image width='100' height='100' xlink:href='assets/img/org3.jpg' mask='url(#mask-2)' />
    <image width='100' height='100' xlink:href='assets/img/org1.jpg' mask='url(#mask-3)' />
    
    <image width='100' height='100' xlink:href='assets/img/org4.jpg' mask='url(#mask-4)'/>
</svg>





<br>
        <!---->

        <div class="wrapper">
    <div class="card">
                <input type="checkbox" id="card1" class="more" aria-hidden="true">
                <div class="content">
                    <div class="front" style="background-image:url('assets/img/org-m1.jpeg')">
                        <div class="inner">
                     <img src="assets/img/chaitnaya.jpg" height="190" width="70%">

                            <h2>Chaitanya Srivastava</h2>
                            <p>(CEO) </p>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <label for="card1" class="button" aria-hidden="true">
                                Details
                            </label>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                                <div class="location">Chaitanya Srivastava</div>
          <div class="description">
     <p>
   Chaitanya Jee An IIT Kanpur and IIM Kolkata alumni, Chaitanya Jee Srivastava is a known face in the 
   start-up community. He boasts a lustrous career spanning across nations with deep knowledge of industry
    & market dynamics, macroeconomics and regulatory regime. He is the founder of Soletherm Techlink, which
     operates in renewable energy and sustainable technologies. What sets Chaitanya apart from his 
     counterparts is his love for art, literature and his curiosity to stay updated about every trend.
      His enthusiasm for sports and fitness coupled with his zeal to explore new unchartered horizons
       convinced him to be part of this venture. He sees great potential in the future of e-sports in India
        and among the youth, and is more than excited to witness the grand revolution unfold!</p>
                            </div>

                            <label for="card1" class="button return" aria-hidden="true">
                                <i class="material-icons"> keyboard_backspace </i>
                            </label>
                        </div>
                    </div>
                </div>
    </div>

    <div class="card">
                        <input type="checkbox" id="card3" class="more" aria-hidden="true">
                        <div class="content">
                            <div class="front" style="background-image:url('assets/img/org-m3.jpg')">
                                <div class="inner">
                             <img src="assets/img/kartikey.jpg" height="190" width="70%">
        
                                    <h2> Kartikey Mishra (Founder)</h2>
                                    <p>(Head of Business Operations and Finance) </p>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <label for="card3" class="button" aria-hidden="true">
                                        Details
                                    </label>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                        <div class="location">Kartikey Mishra</div>
                                    <div class="description">
                                      <p>
               Kartikey Mishra, is a graduate in banking and finance from London, UK and MBA in Marketing
                from Adelaide, Australia. His passion and love for sports encouraged him with an idea of
                 entering E-Sports market. Kartikey Mishra has previously worked with the World’s most
                  prestigious Cricket ground, Lord’s - The Home of Cricket in London and is currently 
                  associated with one of the most iconic venue in Down Under, as Manager of Business 
                  Development International for South Australia Cricket Association at Adelaide Oval in 
                  Adelaide, Australia. He has varied experience of more than nine years with multinational 
                  exposure to India, Middle East, Europe and Down Under. As an entrepreneur and start-up 
                  enthusiast, Kartikey is also an ardent fan of Mumbai Indian in Indian Premier League and
                   childhood Chelsea Football Club Fan. Usually you will find him cracking pitches, but if 
                   not, look some place where Sports is on.
                </p>
                                    </div>
                                  
                                    <label for="card3" class="button return" aria-hidden="true">
                                        <i class="material-icons"> keyboard_backspace </i>
                                    </label>
                                </div>
                            </div>
                        </div>
     </div>

 <div class="card">
                            <input type="checkbox" id="card4" class="more" aria-hidden="true">
                            <div class="content">
                                <div class="front" style="background-image:url('assets/img/org-m4.jpg')">
                                    <div class="inner">
                                 <img src="assets/img/rishabh.jpg" height="190" width="70%">
            
                                        <h2> Rishabh Mishra (Co-Founder)</h2>
                                        <p>(Strategy Head) </p>
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                        <label for="card4" class="button" aria-hidden="true">
                                            Details
                                        </label>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="inner">
                                       
                                        <div class="description">
                             <p>Being a die hard fan of Manchester United and Indian Cricket team I have always had 
                                 passion for sports. This got translated into me being
                                    a casual gamer during my time away from the hospital. While in US and
                                    Europe Esports industry has taken a formal shape, its still in a
                                    nascent stage in India. We truly believe that Esports and gaming is
                                    the next generation of  sports industry. Our aim is to promote growth
                                    in the Esports industry by bringing different stakeholders together.</p>               
                                        </div>
                                        <div class="location">Rishabh Mishra</div>
                                       
                                        <label for="card4" class="button return" aria-hidden="true">
                                            <i class="material-icons"> keyboard_backspace </i>
                                        </label>
                                    </div>
                                </div>
                            </div>
 </div>

 <div class="card">
    <input type="checkbox" id="card2" class="more" aria-hidden="true">
    <div class="content">
        <div class="front" style="background-image:url('assets/img/org-m2.jpg')">
            <div class="inner">
         <img src="assets/img/rajat.jpg" height="190" width="70%">

                <h2>Rajat P Srivastava (Co-Founder)</h2>
                <p>(Legal and Compliance Head) </p>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <label for="card2" class="button" aria-hidden="true">
                    Details
                </label>
            </div>
        </div>
        <div class="back">
            <div class="inner">
                    <div class="location">Rajat Prakash</div>

                <div class="description">
<p>
     Rajat prakash, a first generation lawyer, is an expert in corporate law and capital market. A graduate
      from Cardiff university, he was recently facilitated for being one of the ‘visionaries of Uttar Pradesh’
       by Dainik Bhaskar group. Before finding his own law firm, Athena legal, he accumulated cross border 
       experience in many leading law firms such as Akin Gump Strauss Hauer & Feld (Washington D.C), Mayer
        Brown LLP (Brussels). His sheer professionalism along with brilliant business acumen has made him win
         many accolades.
                        </p>
                </div>
                
               
                <label for="card2" class="button return" aria-hidden="true">
                    <i class="material-icons"> keyboard_backspace </i>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <input type="checkbox" id="card7" class="more" aria-hidden="true">
    <div class="content">
        <div class="front" style="background-image:url('assets/img/org-m7.jpeg')">
            <div class="inner">
         <img src="assets/img/harshita.jpg" height="190" width="70%">

                <h2>  Harshita Mishra</h2>
                <p>(Business Development) </p>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <label for="card7" class="button" aria-hidden="true">
                    Details
                </label>
            </div>
        </div>
        <div class="back">
            <div class="inner">
               <div class="location"> Harshita Mishra</div>
                <div class="description">
   <p>
 The young gun, Harshita mishra is a law graduate from London, UK. She has previously worked for Mayer 
 Brown & Raw, Paris and TCS, London. Currently she is working with Shardul Amarchand Mangaldas. Harshita 
 is a firecracker when it comes to drafting strategies. She is an excellent community builder, and knows
  the pulse of youth. Her insights about the gaming industry and gen Z in general, is refreshing. Oh, and
   she is an excellent Tennis player too!  
    </p>
                </div>
               
                <label for="card7" class="button return" aria-hidden="true">
                    <i class="material-icons"> keyboard_backspace </i>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="card">
        <input type="checkbox" id="card5" class="more" aria-hidden="true">
        <div class="content">
            <div class="front" style="background-image:url('assets/img/org-m5.jpg')">
                <div class="inner">
             <img src="assets/img/monu-mishra.jpg" height="190" width="70%">

                    <h2> Vishwendra Mishra</h2>
                    <p>( Technical Head) </p>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <label for="card5" class="button" aria-hidden="true">
                        Details
                    </label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                        <div class="location">Vishwendra Mishra</div>
                    <div class="description">
       <p>
 Vishwendra is the maestro behind the digital face of Triangulum. Vishwendra’s key expertize is digital
  product development. His visionary architecture to use technology with ability to adapt and innovate has
   played a significant role in developing Triangulum in its current format. He believes team-work is key 
   to success, maybe that’s why he is obsessed with MMORPG (Massive Multiplayer Online Role Playing Games)
    games! 
             </p>               
                    </div>
                     <label for="card5" class="button return" aria-hidden="true">
                        <i class="material-icons"> keyboard_backspace </i>
                    </label>
                </div>
            </div>
        </div>
</div>

<div class="card">
        <input type="checkbox" id="card6" class="more" aria-hidden="true">
        <div class="content">
            <div class="front" style="background-image:url('assets/img/org-m6.jpg')">
                <div class="inner">
             <img src="assets/img/mauli.jpg" height="190" width="70%">

                    <h2> Mouli Khulbe  </h2>
                    <p>(Marketing Head) </p>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <label for="card6" class="button" aria-hidden="true">
                        Details
                    </label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                        <div class="location">Mouli Khulbe </div>
                    <div class="description">
            <p>
   Mouli Khulbe, an MBA in Brand Communication from Symbiosis University, is not your true blue gamer,
    but definitely an awesome entertainment to have when the game is on. She has worked on brands like
     Castrol, Kelloggs, The Souled Store, Radio Mirchi to name some, but her mind works the best in a 
     start-up culture. She calls herself 'Jack Of All Trades, but master of none', and that's what we love
      about her. She is a fan of League of Legends, and although she can't play, she loves watching the game
       and giving strategy inputs. If you don't find her brainstorming about some marketing campaign, you 
       will find her around dogs!
                </p>            
                    </div>
                  <label for="card6" class="button return" aria-hidden="true">
                        <i class="material-icons"> keyboard_backspace </i>
                    </label>
                </div>
            </div>
        </div>
</div>

<div class="card">
        <input type="checkbox" id="card8" class="more" aria-hidden="true">
        <div class="content">
            <div class="front" style="background-image:url('assets/img/org-m8.jpeg')">
                <div class="inner">
             <img src="assets/img/raunaq.jpg" height="190" width="70%">

                    <h2>  Raunaq Parihar </h2>
                    <p>(Gaming Head) </p>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <label for="card8" class="button" aria-hidden="true">
                        Details
                    </label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                   <div class="location">Raunaq Parihar</div>
                    <div class="description">
  <p> 
 Raunaq is the hands and legs of the venture. He has grown up playing FIFA, PUBG, Call of duty, Dota 2 to
  name a few, he is definitely the Gen Z connect of the Triangulum. His passion for e-sports lead him to us,
   and we are more than excited about his presence. He’d be leading the on ground operations team to manage
    tournaments. Raunaq is also the designated office Guru when it comes to e-sports gameplay!
    </p>                   
                    </div>
                   
                    <label for="card8" class="button return" aria-hidden="true">
                        <i class="material-icons"> keyboard_backspace </i>
                    </label>
                </div>
            </div>
        </div>
</div>
           
        </div>


         <!---->