<header>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
          <source src="assets/img/videoplayback.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
          <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
              <p>MISSION</p>
            </div>
          </div>
        </div>
      </header>


<br>

<mat-card class="para-background">
    <p class="para">      
Remember the days, when in college hostel, we all had a LAN setup, playing
Counter strike, DotA and Blur?
Yeah we do too.
<br><br>
We are Triangulum Sports and we are here with a better vision and aim for
the entire gaming fraternity of India. We want to redefine the gaming
landscape and your experience, because you deserve nothing but the best.
The revolution in the e-sport industry has already begun, we want to bring
the party to our home ground. We want to celebrate each one of you, and
provide you with the best of leagues, infrastructure, arena experience and
more. We want to keep pushing the boundaries until we are at par  and beyond
the Global E-sport scene.
Sit tight and wear your seat belts, cause this battleground is going to get
crazier.
    </p>
</mat-card>