<div class="screen">
    <div class="parallax">
      <div class="sam">
        <div id="parallax"></div>
      </div>
      <div class="parallax-copy">
        <h1 class="parallax-headline">ABOUT US<br>
          MISSION  <br>
          & VISION</h1>
        <a class="buttonSlanted" href="#"><span class="buttonSlanted-text">Explore more</span></a>
      </div>
    </div>
  
    <div class="scrollbar"></div>
  
  </div>
  <div class="row mr-0 des">
    <div class="col-md-12 imgBack">
      <div class="col-md-6">
        <div class="dek">
          <div class="card">
            <h2 class="head-1">E-sports -</h2>
            <p class="content">
                E-sports is turning into a religion with more than 809 million people actively involved,
                 and the numbers are expected to reach 1.59 billion people in the coming years. Remember
                  the times when your mom used to shout at you for playing video games throughout the day? 
                  Well to be honest now even mom are playing them. It has levelled up from a mere mode of 
                  entertainment to a new era profession. Competitive video game playing is so huge that it 
                  garnered over 258 million unique views both online and in person, as compared to 204 million
                   views raked in by NFL. E-sports is raging and it’s here to stay, maybe you should join the
                    bandwagon with us!
  
            </p>
          </div>
        </div>
      </div>
  
      <div class="col-md-6"></div>
    </div>
  </div>
  <div class="row mr-0 des imgBack-2">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <div class="dek">
        <div class="card">
            <h2 class="head-1">Our AIM  -</h2>
          <p class="content-1">
              Our AIM Triangulum sports is trying to bridge the gap between different facets associated with
               e-sports, and make everyone’s experience seamless and organized. We are trying to develop a
                platform which is open to all- gamers, developers, marketeers, brands, broadcasters and every 
                other stakeholder involved. Triangulum sports have a space for everyone who wants to enter
                 this huge booming industry!
          </p>
        </div>
      </div>
    </div>
  
  </div>