<div class="screen">
    <div class="parallax">
      <div class="sam">
        <div id="parallax"></div>
      </div>
      <div class="parallax-copy">
        <h1 class="parallax-headline">ABOUT US<br>
          MISSION  <br>
          & VISION</h1>
        <a class="buttonSlanted" href="#"><span class="buttonSlanted-text">Explore more</span></a>
      </div>
    </div>
  
    <div class="scrollbar"></div>
  
  </div>
  <div class="row mr-0 des">
    <div class="col-md-12 imgBack">
      <div class="col-md-6">
        <div class="dek">
          <div class="card">
            <h2 class="head-1">What we Are -</h2>
            <p class="content">
              The aim of Tringulum Sport as a company is to provide the platform & setup the eco-system where game
              developer can develop the online games for Esports Company. Considering the current trend and
              development in Esports, it has become a real sport not the entertainment merely. There is huge potential
              in this arena, principally in India. This platform would be available for Gamers, Game Developers,
              team owners and business stakeholders which would bring all on single platform to work and earn
              altogether. Focusing on providing platform for organizing events and broadcasting video streaming
              via online channels like YouTube, Twitch.tv etc.
  
            </p>
          </div>
        </div>
      </div>
  
      <div class="col-md-6"></div>
    </div>
  </div>
  <div class="row mr-0 des imgBack-2">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <div class="dek">
        <div class="card">
          <p class="content-1">
            Bringing various stakeholders i.e. Gamers, Game Developers, Broadcasters etc. on a single platform to work
            together to take this industry to the new heights. Also it would be organizing the grand events like real
            sports events where gamers would be competitive as an individual as well as team.
            It would be evolved as new job creating industry by enabling trainings, investment and promotion. It will
            continue to scale in terms of both popularity among players, fans and revenue for businesses.
          </p>
        </div>
      </div>
    </div>
  
  </div>