<div class="screen">
    <div class="parallax">
      <div class="sam">
        <div id="parallax"></div>
      </div>
      <div class="parallax-copy">
        <h1 class="parallax-headline">ABOUT US</h1>
        <a class="buttonSlanted" href="#"><span class="buttonSlanted-text">Explore more</span></a>
      </div>
    </div>
  
    <div class="scrollbar"></div>
  
  </div>
  <div class="row mr-0 des">
    <div class="col-md-12 imgBack">
      <div class="col-md-6">
        <div class="dek">
          <div class="card">
            <h2 class="head-1">E-sports -</h2>
            <p class="content">
                E-sports is turning into a religion with more than 809 million people actively involved,
                 and the numbers are expected to reach 1.59 billion people in the coming years. Remember
                  the times when your mom used to shout at you for playing video games throughout the day? 
                  Well to be honest now even mom are playing them. It has levelled up from a mere mode of 
                  entertainment to a new era profession. Competitive video game playing is so huge that it 
                  garnered over 258 million unique views both online and in person, as compared to 204 million
                   views raked in by NFL. E-sports is raging and it’s here to stay, maybe you should join the
                    bandwagon with us!
  
            </p>
          </div>
        </div>
      </div>
  
      <div class="col-md-6"></div>
    </div>
  </div>
  <div class="row mr-0 des imgBack-2">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <div class="dek">
        <div class="card">
            <h2 class="head-1">Our AIM  -</h2>
          <p class="content-1">
              Triangulum sports is trying to bridge the gap between different facets associated with
               e-sports, and make everyone’s experience seamless and organized. We are trying to develop a
                platform which is open to all- gamers, developers, marketeers, brands, broadcasters and every 
                other stakeholder involved. Triangulum sports have a space for everyone who wants to enter
                 this huge booming industry!
          </p>
        </div>
      </div>
    </div>
  
  </div>



  <br>


  <!--Sports Arena Your home for esports-->
  <mat-card class="urhome">
  <div class="container">
   <div class="row">
       <h1 class="main-heading wow lightSpeedIn" data-wow-duration="1s">
                       Triangulum Sports – Galaxy Of Gamers</h1>
   </div>
  </div>
  <section class="main">
   <div class="container">
       <div class="row">
           <div class="col-md-6"> 
       <div class="img-box wow bounceInUp center" data-wow-duration="2s" data-wow-delay="0s">
           <img src="assets/img/urhome2.jpg" height="370" width="550">
       </div>
   </div>
   
   <div class="col-md-6">
       <div class="text-block wow bounceInDown center" data-wow-duration="4s">
           <h2>The Aim of Triangulum Sports-</h2>
           <p>The aim of Triangulum Sports as a company is to  provide the platform & setup the
                  eco-system where game developer can develop the online games for Esports Company.
                   Considering the current trend and development in Esports, it has become a real sport
                    not the entertainment merely.
  <br><br>
  There is huge potential in this arena, principally in India. This platform would be available
      for Gamers, Game Developers, team owners and business stakeholders which would bring all on 
      single platform to work and earn altogether.
      <br> <br>
      Focusing on providing platform for organizing  events and broadcasting video streaming via online
       channels like YouTube, Twitch.tv etc.</p>
  
      </div>
   </div>
       </div>
   
  </div>
   
  </section>
  <section class="main bg-t">
   <div class="container">
       <div class="row">
           <div class="col-md-4"> 
       <div class="img-box wow bounceInUp" data-wow-duration="2s" data-wow-delay="0s">
                 <img src="assets/img/urhome5.jpg" height="300" width="300" style="border-radius: 50%">
       </div>
   </div>
   
   <div class="col-md-4">
       <div class="img-box  wow bounceInLeft" data-wow-duration="4s">
                 <img src="assets/img/urhome4.jpg"height="300" width="300" style="border-radius: 50%">
       </div>
   </div>
   <div class="col-md-4">
       <div class="img-box  wow bounceInRight" data-wow-duration="4s">
         <img src="assets/img/urhome6.jpg" height="300" width="300" style="border-radius: 50%">
       </div>
   </div>
       </div>
   
  </div>
   
  </section>
  <section class="main">
   <div class="container">
       <div class="row">
        <div class="col-md-6">
            
       <div class="text-block wow fadeInUp" data-wow-duration="2s">
           <h2>Bringing Various Stakeholders-</h2>
           <p>Bringing various stakeholders i.e. Gamers, Game Developers, Broadcasters etc.
                  on a single platform to work together to take this industry to the new heights.
                  <br><br>
                  Also it would be organizing the grand events like real sports events where gamers
                    would be competitive as an individual as well as team.
                    <br><br>
                       It would be evolved as new job creating industry by enabling  trainings, 
                       investment and promotion. It will continue to scale in terms of both popularity
                        among players, fans and revenue for businesses. </p>
     
     </div>
   </div>
    <div class="col-md-6"> 
       <div class="img-box  wow bounceInUp center" data-wow-duration="4s">
                 <img src="assets/img/urhome3.jpg" height="370" width="550">
       </div>
   </div>
       </div>
   
  </div>
   
  </section>
  </mat-card>
  
  <!--End Sports Arena Your home for esports--> 