<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/partner-page1.jpg" style="width:inherit;">
      <div class="carousel-caption">
        <!-- <h3>Partner</h3>
                <p>The term 'business partner' can have a wide range of meanings,
                   with one of the most frequent being a person who, along with another
                    person, plays a significant role in owning, managing, or creating a
                     company (two best friends who start a business together would consider 
                     themselves business partners).</p> -->
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/img/partner-page2.jpg"style="width:inherit;">
      <div class="carousel-caption">
        <!-- <h3>Partner</h3>
                <p>The term 'business partner' can have a wide range of meanings,
                   with one of the most frequent being a person who, along with another
                    person, plays a significant role in owning, managing, or creating a
                     company (two best friends who start a business together would consider 
                     themselves business partners).</p>-->
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/img/partner-page3.jpg" style="width:inherit;">
      <div class="carousel-caption">
        <!-- <h3>Partner</h3>
                <p>The term 'business partner' can have a wide range of meanings,
                   with one of the most frequent being a person who, along with another
                    person, plays a significant role in owning, managing, or creating a
                     company (two best friends who start a business together would consider 
                     themselves business partners).</p> -->
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<br>
<mat-card class="partner">
  <h2>Our Partners</h2> <br>
  <div class="row">
    <div class="col-md-4">
      <img src="assets/img/partner-technical.jpg" width="100%" height="221">
      <br><br>
      <div class="row">
        <div class="col-md-9">
          <h4>Technical Partner:</h4>
          <h5>Magath Consultants</h5>
        </div>
        <div class="col-md-3">
            <a href="http://magathconsultants.com" target="_blank">
          <img src="assets/img/magath-logo.jpg" width="90">
          </a>
        </div>
      </div>

      <!-- <p class="text">Magath Consultants Pvt Ltd provide innovative business solutions by using latest technologies.
     and measure performance by client satisfaction. Growth is never by chance. It is sustained 
     hard work</p> -->

    </div>
    <div class="col-md-4">
       
      <img src="assets/img/partner-legal.jpg" width="100%" height="221">
     
      <br><br>

      <div class="row">
        <div class="col-md-9">
          <h4>Legal Partner:</h4>
          <h5>Athena Legal</h5>
        </div>
        <div class="col-md-3">
            <a href="http://www.athenalegal.in/" target="_blank">
          <img src="assets/img/athena-logo.jpg" width="90">
          </a>
        </div>
      </div>
      <!-- <p class="text">Athena believes that the talents and viewpoints of a diverse team create the fulfilling
                 professional environment that has brought us consistent recognition from our clients. 
                 At Athena Legal, diversity is a part of our long-term strategy, not just a short-term
                  program.</p> -->
    </div>
    <div class="col-md-4">
      <img src="assets/img/partner-broadcast.jpg" width="100%" height="221">
      <br><br>
      <div class="row">
        <div class="col-md-9">
          <h4>Broadcasting Partner:</h4>
          <h5>VNU engageLIVE</h5>
        </div>
        <div class="col-md-3">
          <a href="https://www.linkedin.com/company/vnu-engagelive/" target="_blank">
          <img src="assets/img/engage-logo.jpg" width="90">
        </a>
        </div>
      </div>

      <!-- <p class="text">VNU (pronounced Venue) is a technology & data company focused on
             maximizing the LIVE experience and driving actionable analytics within any LIVE 
             sports, eSports, concert, movie and entertainment venue around the world. </p> -->
    </div>
  </div>

</mat-card>