
//carousel////


.text{
    text-align: justify;
    color: #460041;
}

.carousel-caption {
    position: absolute;
    right: 50%;
    bottom: 35px;
    left: 5%;
    background: #00040875;
    z-index: 10;
    border-radius: 10%;
    padding-bottom: 18px;
    padding: 30px;
    padding-top: 0px;
    color: #fff;
    text-align: center;
}
.carousel-caption h3{
font-size: 40px;
color: #00e9ff;
}

.carousel-caption p{
    font-size: 15px;
    text-align: justify
    }

    @media screen and (max-width:800px){
        .carousel-caption {
            position: absolute;
            width: 90%;
            right: 50%;
            bottom: 27%;
            left: 5%;
        }
    }


/////////////////////////





//partner/////
.partner{
    background: aliceblue;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}

.partner h2{
    color: #070233;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}

.partner h4{
    color: #070233;
    font-size: 27px;
    font-weight: 600;
}

.partner h5{
    color:#460041;
    font-size: 23px;
    font-weight: 600;
}

///////////////////////////////////////