<div class="thm-container">
    <div class="row">
        <div class="col-md-8 ">
            <div class="contact-form-content">
                <div class="title">
                    <span>Contact with us</span>
                    <h2>Send Message</h2>
                </div><!-- /.title -->
                <form class="contact-form" novalidate="novalidate">
                    <div class="row mr-0">
                        <div class="col-md-6">
                            <mat-form-field>
                                <input type="text" matInput name="name" placeholder=" Full Name">
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" name="mobile" matInput placeholder=" Mobile number">
                            </mat-form-field>
                            <mat-form-field>
                                    <mat-select placeholder="Select">
                                      <mat-option value="option">Option</mat-option>
                                    </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <input type="text" matInput name="name" placeholder="Company Name">
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" name="email" matInput placeholder=" Email id">
                            </mat-form-field>
                            <mat-form-field>
                                <textarea name="message" matInput placeholder="What you are looking for?"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <button type="submit" class="thm-btn yellow-bg">Submit Now</button>
                    <div class="form-result"></div><!-- /.form-result -->
                </form>
            </div><!-- /.contact-form-content -->
        </div><!-- /.col-md-8 -->
        <div class="col-md-4 ">
            <div class="contact-info text-center">
                <div class="title text-center">
                    <span>Our Contact info</span>
                    <h2>Details<br> For Investment</h2>
                </div><!-- /.title -->
                <div class="single-contact-info">
                   <p>Email: business@triangulumsports.com<br>
                    Contact No: +011-23452</p>
                </div><!-- /.single-contact-info -->
                <!-- /.single-contact-info -->
            </div><!-- /.contact-info -->
        </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
</div>
