<img src="assets/img/obj1.jpg" width="100%" height="auto">


<br><br>
<mat-card class="body">
        <div class="neon">
                <span class="text" data-text="OBJECTIVE">OBJECTIVE</span>
                <span class="gradient"></span>
                <span class="spotlight"></span>
              </div>
</mat-card>
<br>

<mat-card class="para-background">
    <p class="para">      
            Globally E-sports is already huge, and there’s a massive stop in India too. E-sports has to be promoted as sports and not
            medium of entertainment. It requires education, intense trainings, investment in infrastructure and promotion as a job
            creating industry. It will continue to scale in terms of both popularity among players, fans and revenue for businesses.
<br><br>
E-sports has been forecasted to have the potential to be biggerthan any sport that has ever been played.
E-sports is a big opportunity for broadcasters and platforms, to develop their strategy, using the digital advertising appetite to
monetize their online services. On top of that, E-sports is a tremendous occasion to engage audiences with immersive
experiences using cutting-edge UHD technology and VR/AR proposals to visually enhance the E-sports coverage. There are
215 million fans today, including 165 million hardcore enthusiasts. The majority of this group, about 53%, reside in the AsiaPacific region.

    </p>
</mat-card>