
    <img src="assets/img/advisory2.jpg" height="auto" width="100%">

    <br><br>

    <!--Start Board Of Advisor-->
   <div class="heading-board">
    <h2>Board of Advisors</h2>
    </div>
    <br>

<mat-card class="advisor-detail">
    <div class="container">
 <div class="row">
        <!--START Board Of Advisor Anshuman Mishra-->
        <div class="col-md-4">
        <a href="#" data-toggle="modal" data-target=".pop-up-1">
        <img src="assets/img/advisory-b1.jpg" width="270" height="250" class="img-responsive img-rounded center-block" alt="">
       
        <p class="advisor-name">Anshuman Mishra<br>
          <button mat-raised-button  color="accent">View Details</button>
        </p>
      </a>
          
           <div class="modal fade pop-up-1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
        
                <div class="modal-header">
                        <h4 class="modal-title" id="myLargeModalLabel-1">Anshuman Mishra (Advisor)</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                 
                </div>
                <div class="modal-body">
                  <div class="row">
                  <div class="col-md-4">
                <img src="assets/img/advisory-b1.jpg" class="img-responsive img-rounded center-block" alt="" width="300">
              </div>
              <div class="col-md-8">
               <p class="modal-text">
                  Mr. Mishra founder MPH Holdings (Pvt offices of India’s leading families) is an investment
                   banker by profession, he has worked for top global banks. He works closely with some of the 
                   world’s largest sovereign wealth funds. He has served on the Capital Markets teams of globally
                    iconic financial institutions & has been instrumental in creating one of the most successful 
                    aircraft finance business & a business advisory company in India. <br><br>

                    Mr. Mishra worked for some of the most prestigious law firms in the U.S., including Procopio,
                     Akin Gump & Mayer Brown in Los Angeles, San Diego, Chicago, New York, Washington, DC & Paris 
                     offices. He enjoys excellent relationships with the legal fraternity both in the US & in India.
                      Most of his legal work involves developing strategic International partnerships, procuring finance 
                      arrangements & advising on M&A.<br><br>

                      Mr. Mishra's financial expertise transcends borders & cultures. Having studied under Personal tutelage 
                      of Transcendental Meditation Teacher Maharishi (known as the guru to the Beatles), he brings a unique
                       perspective to Business, he has been invited by world leaders including U.S. President on their tours to India. 
              <br><br>
              Mr. Mishra holds a Bachelors Degree in Economics & a Master of Laws from prestigious U.S. institutions. Mr. Mishra is
               chief mentor of NY based Business Council for International Understanding. He is Senior Strategy Advisor to India’s
                top corporates. He considers Asia’s two leading business leaders as his mentor - Chairman, Reliance industries & 
                Tata Group. He enjoys extremely close relations with Mahindra, Aditya Birla Group, Saudi Aramco/Abu Dhabi National 
                oil company & World’s largest Tech Fund - Softbank founder - Masayoshi San. Mr Mishra, maintains friendly relations
                 with Carlos Slim Family, Arnault Family & senior Executives at Disney.
                      </p>
               </div>
              </div>
            </div>
              </div>
            </div>
          </div>
        </div>
        <!--END Board Of Advisor Anshuman Mishra-->


         <!--START Board Of Advisor Keith Bradshaw-->
        <div class="col-md-4">
         <a href="#" data-toggle="modal" data-target=".pop-up-2">
        <img src="assets/img/advisory-b2.jpg" width="270" height="250" class="img-responsive img-rounded center-block" alt="">
      
        <p class="advisor-name">Keith Bradshaw<br>
          <button mat-raised-button  color="accent" >View Details</button>
        </p>
      </a>
       
        <div class="modal fade pop-up-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-2" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
      
              <div class="modal-header">
                      <h4 class="modal-title" id="myLargeModalLabel-2">Keith Bradshaw (Advisor)</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               
              </div>
              <div class="modal-body">
                  <div class="row">
                  <div class="col-md-4">
                <img src="assets/img/advisory-b2.jpg" class="img-responsive img-rounded center-block" alt="" width="300">
              </div>
              <div class="col-md-8">
               <p class="modal-text">
                  Keith Bradshaw Keith Bradshaw was appointed as the Chief Executive of the South Australian Cricket Association in 
                  January 2012 at Adelaide Oval. He was formerly Secretary and Chief Executive of the Marylebone Cricket Club at Lord’s
                   Cricket Ground in London. Keith became the fourteenth Secretary and Chief Executive of the Marylebone Cricket
                    Club when he took up the position in October 2006.  He was the first MCC Secretary to hail from overseas, having 
                    played first-class cricket for Tasmania before embarking on a distinguished business career. Keith retired from 
                    first-class cricket in 1988, to complete his studies at the University of Tasmania (where he graduated in Commerce)
                     and pursue his commercial career as a chartered accountant, which included spells with both Price Waterhouse and Deloitte,
                      where he was a Partner before joining the MCC.<br><br>

                      Whilst Chief Executive of the MCC Bradshaw had a place on the administrative board of the England and Wales
                       Cricket Board and it has been reported that he had some say in the removal from office of England Head Coach
                        Duncan Fletcher OBE and former India Head Coach in April 2007.            
              </p>
               </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
<!--END Board Of Advisor Keith Bradshaw-->

<!--START Board Of Advisor Ravi Bopara-->
    <div class="col-md-4">
       <a href="#" data-toggle="modal" data-target=".pop-up-3">
        <img src="assets/img/advisory-b3.jpg" width="270" height="250" class="img-responsive img-rounded center-block" alt="">
      
        <p class="advisor-name">Ravi Bopara<br>
          <button mat-raised-button  color="accent" >View Details</button>
        </p>
      </a>
      
        <div class="modal fade pop-up-3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-2" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
      
              <div class="modal-header">
                      <h4 class="modal-title" id="myLargeModalLabel-2">Ravi Bopara (Advisor)</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               
              </div>
              <div class="modal-body">
                  <div class="row">
                  <div class="col-md-4">
                <img src="assets/img/advisory-b3.jpg" class="img-responsive img-rounded center-block" alt="" width="300">
              </div>
              <div class="col-md-8">
               <p class="modal-text">
                  Ravinder Singh "Ravi" Bopara  an English cricketer who plays for Essex and England 
                  in all three formats. Originally a top-order batsman, his developing medium 
                  pace bowling has made him an all-rounder and he has the best bowling figures
                   for England in a Twenty20 International. Bopara has also played for Karachi 
                   Kings in the Pakistan Super League, Kings XI Punjab in the Indian Premier 
                   League, Sydney Sixers in the Big Bash League and Chittagong Vikings in the
                    Bangladesh Premier League.<br><br>

                    Bopara played for the team Karachi Kings in Pakistan Super League (PSL) 
                    held at U.A.E in February 2016. The captaincy for the Karachi Kings was
                     handed down to him after Shoaib Malik stepped down from the role. His
                      team finished fourth overall. He won the player of the series award 
                      for the PSL 2016 by making 329 runs and taking 11 wickets within 9
                       matches for the Karachi Kings. <br><br>
                       
                       In September 2018, he was named in Balkh's squad in the first edition 
                       of the Afghanistan Premier League tournament. In July 2019, he was selected 
                       to play for the Glasgow Giants in the inaugural edition of the Euro T20 Slam 
                       cricket tournament. However, the following month the tournament was cancelled.
              </p>
               </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        </div>
<!--End Board Of Advisor Ravi Bopara-->


    </div>
       </div>
      </mat-card>
<!--End Board Of Advisor-->

       