
.cover-advisor{
  background-image: url("/../assets/img/back-org.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
	background-size: cover;
}


.heading-board h2{
  text-align: center;
  font-family: 'Hind', sans-serif;
  font-weight: 300;
  font-size: 50px;
  line-height: 1;
  color: #ffffff;
padding:4%;
background: #4c44f68f;
margin: 0px;
}

.card{
  margin:3em 4em;
}
.advisor-detail{
  background: #4c44f68f;
  padding-bottom: 7%;
 
}

@media screen and (max-width: 992px) {
    .img-responsive  {
      width:100%;
    }
    .card{
      margin:5px 0px;
    }
  }
.row{
  margin: 0px;
}
.advisor-name{
    background: white;
    width: 100%;
    padding: 3%;
    color: #3d0075;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}


.modal  {
background-color: rgba(4, 4, 4, 0.8); 
    }
   
    .modal-dialog {
      top: 10%;   
      width: 92%;
      margin-left: 4%;
      max-width: 1350px;
       position: absolute;
        }

.modal-content {
      border-radius: 0px;
      border: none;
      top: 40%;
}

.modal-header .modal-title{
color: #070233;
font-weight: 700;
font-size: 23px;
}

 .modal-body {
     color: black;
  }

  .modal-text{
    width: 100%;
    line-height: 24px;
    text-align: justify;
    color: #460041;
    padding: 0px 70px 0px 0px;
    margin-top: -5px;
  }
    
  @media screen and (max-width: 992px) {
    .modal-text{  
        padding: 0px;
    }
  
  }