
    <img src="assets/img/advisory2.jpg" height="auto" width="100%">

    <br><br>

    <!--Start Board Of Advisor-->

    <div class="cover-advisor">
   <div class="heading-board">
    <h2>Board of Advisors</h2>
    </div>
 
<mat-card class="advisor-detail">
    <div class="container-fluied">
 <div class="row">
        <!--START Board Of Advisor Anshuman Mishra-->
        <div class="col-md-6">
          <div class="card">
        <a href="#" data-toggle="modal" data-target=".pop-up-1">
        <img src="assets/img/advisory-b1.jpg" width="100%" height="400" class="img-responsive img-rounded center-block" alt="">
       
        <p class="advisor-name">Anshuman Mishra<br>
          <button mat-raised-button  color="accent">View Details</button>
        </p>
      </a>
          
           <div class="modal fade pop-up-1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
        
                <div class="modal-header">
                        <h4 class="modal-title" id="myLargeModalLabel-1">Anshuman Mishra (Advisor)</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                 
                </div>
                <div class="modal-body">
                  <div class="row">
                  <div class="col-md-4">
                <img src="assets/img/advisory-b1.jpg" class="img-responsive img-rounded center-block" alt="" width="300">
              </div>
              <div class="col-md-8">
               <p class="modal-text">
           Mr. Mishra, an investment banker by profession, is the founder of MPH holdings. He has worked with 
           most of the giants in the banking industry. He has even lent his expertise in strategic 
           international relationships to prestigious law firms in the US, including Procopio, Akin Gump 
           & Mayer Brown in LA. Mr. Mishra is also a chief mentor of NY based Business Council for 
           International Understanding and also senior strategy advisor to India’s top corporates. His
            vast knowledge and unique perspective to business has even compelled the President of the
             United States, and other world leaders to invite him on their tours to India. Mr. Mishra 
             vehemently believes in the huge potential that India has to offer. He has seen the worldwide
              growth in popularity of e-sports, and is sure that the same tsunami is soon going to hit India
               too.
              </p>
               </div>
              </div>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <!--END Board Of Advisor Anshuman Mishra-->


         <!--START Board Of Advisor Keith Bradshaw-->
        <div class="col-md-6">
            <div class="card">
         <a href="#" data-toggle="modal" data-target=".pop-up-2">
        <img src="assets/img/advisory-b2.jpg" width="100%" height="400" class="img-responsive img-rounded center-block" alt="">
      
        <p class="advisor-name">Keith Bradshaw<br>
          <button mat-raised-button  color="accent" >View Details</button>
        </p>
      </a>
       
        <div class="modal fade pop-up-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-2" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
      
              <div class="modal-header">
                      <h4 class="modal-title" id="myLargeModalLabel-2">Keith Bradshaw (Advisor)</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               
              </div>
              <div class="modal-body">
                  <div class="row">
                  <div class="col-md-4">
                <img src="assets/img/advisory-b2.jpg" class="img-responsive img-rounded center-block" alt="" width="300">
              </div>
              <div class="col-md-8">
               <p class="modal-text">
                If you’ve heard of Adelaide Oval, known as one of the most picturesque and iconic venues 
                in Australia if not the World, then you most probably know Keith Bradshaw too. He is the 
                CEO of South Australia Cricket Association (SACA). A Chartered Accountant in his days, Keith
                 has also represented Tasmania in cricket. Keith has been actively following his passion for 
                 cricket, though behind the screen. He is Chief Executive of the South Australian Cricket
                  Association and also former Secretary and Chief Executive of the Marylebone Cricket Club 
                  at The Mecca of Cricket - Lord’s Cricket Ground in London. Bradshaw is highly regarded in
                   England for his stewardship of MCC as chief executive The Lord’s, and has earned a
                    similarly lofty reputation with the SACA at Adelaide Oval. His passion for sports has
                     made him excited about Triangulum. He feels that sportsmanship is of highest value 
                     whether it’s on-field or on-line.           
              </p>
               </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      </div>
<!--END Board Of Advisor Keith Bradshaw-->
    </div>

    <div class="row">
<!--START Board Of Advisor Ravi Bopara-->
    <div class="col-md-6">
        <div class="card">
       <a href="#" data-toggle="modal" data-target=".pop-up-3">
        <img src="assets/img/advisory-b3.jpg" width="100%" height="400" class="img-responsive img-rounded center-block" alt="">
      
        <p class="advisor-name">Ravi Bopara<br>
          <button mat-raised-button  color="accent" >View Details</button>
        </p>
      </a>
      
        <div class="modal fade pop-up-3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-2" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
      
              <div class="modal-header">
                      <h4 class="modal-title" id="myLargeModalLabel-2">Ravi Bopara (Advisor)</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               
              </div>
              <div class="modal-body">
                  <div class="row">
                  <div class="col-md-4">
                <img src="assets/img/advisory-b3.jpg" class="img-responsive img-rounded center-block" alt="" width="300">
              </div>
              <div class="col-md-8">
               <p class="modal-text">
                  Ravinder Singh "Ravi" Bopara  an English cricketer who plays for Essex and England 
                  in all three formats. Originally a top-order batsman, his developing medium 
                  pace bowling has made him an all-rounder and he has the best bowling figures
                   for England in a Twenty20 International. Bopara has also played for Karachi 
                   Kings in the Pakistan Super League, Kings XI Punjab in the Indian Premier 
                   League, Sydney Sixers in the Big Bash League and Chittagong Vikings in the
                    Bangladesh Premier League.<br><br>

                    Bopara played for the team Karachi Kings in Pakistan Super League (PSL) 
                    held at U.A.E in February 2016. The captaincy for the Karachi Kings was
                     handed down to him after Shoaib Malik stepped down from the role. His
                      team finished fourth overall. He won the player of the series award 
                      for the PSL 2016 by making 329 runs and taking 11 wickets within 9
                       matches for the Karachi Kings. <br><br>
                       
                       In September 2018, he was named in Balkh's squad in the first edition 
                       of the Afghanistan Premier League tournament. In July 2019, he was selected 
                       to play for the Glasgow Giants in the inaugural edition of the Euro T20 Slam 
                       cricket tournament. However, the following month the tournament was cancelled.
              </p>
               </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        </div>
        </div>
<!--End Board Of Advisor Ravi Bopara-->

<!--START Board Of Advisor Joe Carter-->
<div class="col-md-6">
    <div class="card">
    <a href="#" data-toggle="modal" data-target=".pop-up-4">
     <img src="assets/img/advisory-b4.jpg" width="100%" height="400" class="img-responsive img-rounded center-block" alt="">
   
     <p class="advisor-name">Joe Carter<br>
       <button mat-raised-button  color="accent" >View Details</button>
     </p>
   </a>
   
     <div class="modal fade pop-up-4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-2" aria-hidden="true">
       <div class="modal-dialog modal-lg">
         <div class="modal-content">
   
           <div class="modal-header">
                   <h4 class="modal-title" id="myLargeModalLabel-2">Joe Carter (Advisor)</h4>
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            
           </div>
           <div class="modal-body">
               <div class="row">
               <div class="col-md-4">
             <img src="assets/img/advisory-b4.jpg" class="img-responsive img-rounded center-block" alt="" width="300">
           </div>
           <div class="col-md-8">
            <p class="modal-text">
                Joe Carter is CEO and co-founder of VNU Engage Live, a technology & data company focused on maximising the experience of audience 
                witnessing live entertainment be it esports, sports, concert, movie etc. around the world. Joe Carter is 
                also the CEO and Founder of Hencar production company, He is based out of US and is popularly known 
                for his stint as sports anchor & correspondent for CNN worldwide networks, prior to joining CNN He had
                 a brief spell with NBC News looking for good stories. Joe was also the Youngest Sports Director in famous
                  FOX Sports. Managing sports department while also sports anchoring the Monday - Friday evening newscasts. He especially loves to delight the audience and provide them with the best of experience, whether in online spectrum or offline arenas, with his ventures like VNU Engage and Hencar.
           </p>
            </div>
           </div>
         </div>
         </div>
       </div>
     </div>
     </div>
     </div>
<!--End Board Of Advisor Joe Carter-->
 </div>

       </div>
      </mat-card>
    </div>
<!--End Board Of Advisor-->

       