
// toolbar css
.top-nav{
  min-height: 64px;  
  background: transparent;
  position: fixed;
  top: 0px;
  z-index: 999;color:#fff;
}
.addClass{
	min-height: 64px;  
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3f51b5+0,2989d8+41,2989d8+52,2989d8+52,207cca+66,207cca+66,3f51b5+100 */
background: rgb(63,81,181); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(63,81,181,1) 0%, rgba(41,137,216,1) 41%, rgba(41,137,216,1) 52%, rgba(41,137,216,1) 52%, rgba(32,124,202,1) 66%, rgba(32,124,202,1) 66%, rgba(63,81,181,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(63,81,181,1) 0%,rgba(41,137,216,1) 41%,rgba(41,137,216,1) 52%,rgba(41,137,216,1) 52%,rgba(32,124,202,1) 66%,rgba(32,124,202,1) 66%,rgba(63,81,181,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(63,81,181,1) 0%,rgba(41,137,216,1) 41%,rgba(41,137,216,1) 52%,rgba(41,137,216,1) 52%,rgba(32,124,202,1) 66%,rgba(32,124,202,1) 66%,rgba(63,81,181,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f51b5', endColorstr='#3f51b5',GradientType=0 ); /* IE6-9 */
box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(63,81,181, 0.4);
    color: rgb(197, 170, 170) !important;
    position: fixed;
    top: 0px;
    z-index: 999;
}

.example-icon {
    padding: 0 14px;
  }
  span.one:focus {
    outline: none;
}
  
  .example-spacer {
    flex: 1 1 auto;
  }
  span.one {
    padding: 0px 9px;
    font-size: 22px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
  }
  .addOne{
    color: #fff;
  }
  img.avatar-01 {
    width: 120px;height: auto;
  }
  @media screen and (min-width: 950px) {
.small-screen-menu{
display: none;
  }
}
  
  @media screen and (max-width: 950px) {
    .top-nav{
      height: 60px;
      width: 100%;
    }
    .txt{
      display: none;
    }
    span.one {
      padding: 0px 3px;
      font-size: 10px;
      color: #5eff0e;
      font-weight: 500;
      text-decoration: none;
      cursor: pointer;
  }
  span.last.one {
    display: none;
}
img.avatar-01 {
  width: 50px;height: auto;
  padding-top: 10px;
}
  }


  span.last.one {
    padding-right: 80px;
  }
  // .mat-toolbar-multiple-rows {
  //   min-height: 64px;  
  //   background: #000b1b9e;
  //   color: white;
  //   position: fixed;
  //   top: 0px;
  //   z-index: 999;
  // }
  
  
  .logo{
    position: fixed;
    top: 0px;
    left: 20px;
  }
  
  .txt{
    
    font-size: 12px;
    background: #a509096e;
    margin-left: 0px;
    border: 1px;
    border-radius: 5px;
    text-align: center;
  }


  
  
  
  .txt2{
    color: #fdf706;
  }
  
  //SEARCH//

  .searchbtn{
    font-size: 25px;
    cursor: pointer;
    color: white;
    border: 1px solid #54ff00;
    padding: 0 7px;
    background: #54ff00;
    border-radius: 30px;
}
  
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1024;
    top: 0;
    left: 0;
  background-image: -webkit-linear-gradient(0deg, #e85d5a 0%, #33014d 100%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .search{
  text-align: center;color:#fff;
  }
  
  input[type=text] {
    width: 65%;
    padding: 17px 0px;
    margin-top: 196px;outline: none;
    padding: 17px 17px;
    border: 1px;
     border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }
  
  #searchbtn{
  padding: 21px 68px;
    margin-bottom: 3px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  
  .material-icons{
  font-size: 18px;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /////////////////////////////////////////////////////////////
  
////dropdown
.mat-menu-item {
  background:#fff;
  color: gray;
  outline: none;
  border-bottom: transparent;
}


.mat-menu-item:hover:not([disabled]) {
    z-index: 1024;
    background: #f8ae23;
    border-radius: 5px !important;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(206, 177, 50, 0.4);
    color: #ffffff;
    outline: none;
}
.mat-menu-item:hover .mat-icons{
  color: #fff;
}

button:focus {
outline:none;
}

.mat-menu .content {
  padding-top: 0px !important; 
  margin: 0px 0px 0px 0px;
  padding-bottom: 0px !important;
  }




/////////////////////////////////////////////////////


/////small screen sidenavbar menu///////////////////
.sidenavbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:#ffd400;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sidenavbar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  margin-right: 22px;
  display: block;
  transition: 0.3s;
}

.sidenavbar a:hover {
  color: #f1f1f1;
}

.sidenavbar .closebtn {
  position: absolute;
  top: 0;
  right:0;
  font-size: 50px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenavbar {padding-top: 15px;}
  .sidenavbar a {font-size: 18px;}
}


////////////////////////////////////////////////////////////
.mat-icons{
  color: rgb(184, 183, 183);
  font-size: 28px;
}