<mat-toolbar class="top-nav">
  <mat-toolbar-row>
    <span class="logo">
      <a routerLink="home">
        <img src="assets/img/sports-logo-13.png" class="avatar-01">
      </a>
      <!-- <div class="txt"> <span class="txt1">TRIANGULUM<span>&nbsp;</span><span class="txt2">SPORTS</span></span></div> -->

    </span>
    <span class="example-spacer"></span>


    <span class="one" [matMenuTriggerFor]="about" routerLinkActive="active">About</span>
    <mat-menu #about="matMenu" yPosition="below">
      <button mat-menu-item routerLink='about' routerLinkActive="active">
        <mat-icon class="mat-icons">local_library</mat-icon>
        
        <span>About Us</span>
      </button>
      <button mat-menu-item routerLink='AdvisoryBoard' routerLinkActive="active">
        <mat-icon class="mat-icons">local_florist</mat-icon>
        
        <span>Mission</span>
      </button>
      <button mat-menu-item routerLink='organisation' routerLinkActive="active">
        <mat-icon class="mat-icons">pie_chart</mat-icon>
        
        <span>Objective</span>
      </button>
    </mat-menu>


    <span class="one" [matMenuTriggerFor]="menu">Organisation </span>
    <mat-menu #menu="matMenu" yPosition="below">
      <button mat-menu-item routerLink='directors' routerLinkActive="active">
        <mat-icon class="mat-icons">person</mat-icon>
        <span>Board of Directors</span>
      </button>
      <button mat-menu-item routerLink='AdvisoryBoard' routerLinkActive="active">
        <mat-icon class="mat-icons">deck</mat-icon>
        <span>Advisory Board</span>
      </button>
      <button mat-menu-item routerLink='organisation' routerLinkActive="active">
        <mat-icon class="mat-icons">ac_unit</mat-icon>
        <span>Management</span>
      </button>
    </mat-menu>


    <span class="one" [matMenuTriggerFor]="Investors">Investors</span>
    <mat-menu #Investors="matMenu" yPosition="below">
      <button mat-menu-item routerLinkActive="active" routerLink='Eminent'>
          <mat-icon class="mat-icons">how_to_reg</mat-icon>
        <span>Our Eminent Investors</span>
      </button>
      <button mat-menu-item routerLinkActive="active" routerLink='Notices'>
          <mat-icon class="mat-icons">receipt</mat-icon>
          <span>Notices</span>
        </button>
      <button mat-menu-item routerLinkActive="active" routerLink='InvestorsContacts'>
          <mat-icon class="mat-icons">device_hub</mat-icon>
          <span>Investors Contacts</span>
        </button>
    </mat-menu>

    <span class="one" [matMenuTriggerFor]="partner">Partners</span>
    <mat-menu #partner="matMenu" yPosition="below">
      <button mat-menu-item routerLink='partners'>
          <mat-icon class="mat-icons">control_camera</mat-icon>
          <span>Our Partners</span>
          
        </button>
      <button mat-menu-item routerLink='become-partners'>
          <mat-icon class="mat-icons">call_merge</mat-icon>
          <span>Become A Partner</span>
          
        </button>
    </mat-menu>

    <!-- Search-->
    <span class="last one">
      <div id="main">
        <span class="searchbtn" (click)="Onclick()"><i class="material-icons"> search</i></span>
      </div>
    </span>
    <!--End Search-->


    <!--Small screen sidenavbar-->
    <span class="small-screen-menu">

      <div id="mySidenavbar" class="sidenavbar">
        <a href="javascript:void(0)" class="closebtn" (click)="OncloseNavbar()">&times;</a>
        <img src="assets/img/sports-logo-13.png" width="160">
        <a routerLink='about' (click)="OncloseNavbar()">About Us </a>
        <a routerLink="game-info" (click)="OncloseNavbar()">Game Info</a>
        <a routerLink="contactUs" (click)="OncloseNavbar()">Contact Us </a>
      </div>


      <span class="small-screen-menu" (click)="OnopenNavbar()">&#9776; </span>
    </span>
    <!--End Small screen sidenavbar-->
  </mat-toolbar-row>
</mat-toolbar>


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="Onclose()">×</a>
  <div class="search">
    <input type="text" id="fsearch" name="fsearch">
    <button type="button" class="btn btn-primary" id="searchbtn">Search</button>

  </div>
</div>