
// toolbar css
.top-nav{
	height: 60px;width: 95%;
	background:transparent;
	z-index:4;
}
.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  span.one {
    padding: 0px 9px;
    font-size: 22px;
    color: #5eff0e;
    font-weight: 500;
    text-decoration: none;
  }
  span.last.one {
    padding-right:0px;
  }
  .mat-toolbar-multiple-rows {
    min-height: 64px;  
    background: #000b1b9e;
    color: white;
    position: fixed;
    top: 0px;
    z-index: 999;
  }
  
  
  .logo{
    position: fixed;
    top: 0px;
    left: 20px;
  }
  
  .txt{
    
    font-size: 12px;
    background: #a509096e;
    margin-left: 0px;
    border: 1px;
    border-radius: 5px;
    text-align: center;
  }

  @media screen and (max-width:600px){
.txt{
  font-size: 12px;
}
  }
  
  
  
  .txt2{
    color: #fdf706;
  }
  
  //SEARCH//

  .searchbtn{
    font-size: 25px;
    cursor: pointer;
    color: white;
    border: 1px solid #54ff00;
    padding: 0 7px;
    background: #54ff00;
    border-radius: 30px;
}
  
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  background-image: -webkit-linear-gradient(0deg, #e85d5a 0%, #33014d 100%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .search{
  text-align: center;
  }
  
  input[type=search] {
    width: 65%;
    padding: 17px 0px;
    margin-top: 196px;
    border: 1px;
     border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }
  
  #searchbtn{
  padding: 21px 68px;
    margin-bottom: 4px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  
  .material-icons{
  font-size: 18px;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /////////////////////////////////////////////////////////////
  
////dropdown
.mat-menu-item {
  background: -webkit-linear-gradient(0deg, #070023 0%, #46021e 100%);
  color: #ffffff;
  outline: none;
  border-bottom: 1px solid gray;
}

.mat-menu-item:hover:not([disabled]) {background:#2ECC71;color: #ffffff;outline: none;
}


button:focus {
outline:none;
}

.mat-menu .content {
  padding-top: 0px !important; 
  margin: 0px 0px 0px 0px;
  padding-bottom: 0px !important;
  }




/////////////////////////////////////////////////////