<!--Start slider-->
 
<div class='slider'>
    <div class='slide1'></div>
     <div class='slide2'></div>
     <div class='slide3'></div>
   </div>
   <!-- End Start slider-->
<!--profile text on slider-->
   <aside class="profile-card">
       <div class="card-text">
  <h1 class="screen-heading"><span style="color:#f9ff00;">Online</span> &nbsp; <span style="color:#00ff21;">Gaming</span> 
     &nbsp;  <span style="color:#f9ff00;">Arena</span></h1>
     <p class="screen-para">Video games are not only medium of entertainment, it has<br>
         been grown as a new era profession where players can   <br>
         work as professional and earn money.</p>
        <br>
        <button class="card-btn">Read More</button>
     </div>
     </aside>
<!--End profile text on slider-->


<!--Morque-->
   <div class="row marque">
       <div class="col-md-3 text1">
           <h3>Latest News</h3>

       </div>
<div class="col-md-9 text2">
     <marquee  direction="left" class="main-marque">
            <span>
                 <button mat-button class="btn1">NEW</button>
                   "New Game For E-Sports"
            </span>

            &nbsp;  &nbsp;  &nbsp;  &nbsp; <span>
                 <button mat-button class="btn2">STRETEGY</button>
              "Stretegy For E-Sports Game"
            </span>

            &nbsp; &nbsp; &nbsp;  &nbsp; <span>
                 <button mat-button class="btn3">E-SPORTS</button>
                 "E-Sports is Good"
            </span>

            &nbsp;  &nbsp; &nbsp;  &nbsp; <span>
                 <button mat-button class="btn4">COMING SOON</button>
                  "E-Sports will Launch A New Game"
            </span>
             </marquee>
            
</div>

   </div>
<!--End Morque-->
<br>
<!--START What Is E-Sports-->

<mat-card class="what-esports">

<div class="has-animation animation-ltr" data-delay="10">
<p class="bigger">What is e-Sports </p>
</div>


<div class="has-animation animation-rtl" data-delay="1000">
<div class="row">
<div class="col-md-6">


<p class="text">
   E-sports is a form of  organized competitive gaming between professional gamers
    and could be defined as a combined entity of gaming and sports  both in teams and 
    individually, compete against each other in different computer. Video games are 
    not only medium of entertainment, it  has been grown as a new era profession where 
    players can work as professional and earn money. Esports has been forecasted to have 
    the potential to be bigger than any sport that has ever been played.

</p>
</div>
<div class="col-md-6">
   <img src="assets/img/home7.jpg" height="auto" width="100%" />   
</div>
</div>


</div>

<br>

<div class="has-animation animation-rtl" data-delay="2500">
<div class="row">
      <div class="col-md-6">
            <img src="assets/img/home6.jpg" height="auto" width="100%" />   
         </div>

   <div class="col-md-6">   
<p class="text">
   Esports is a booming global industry where skilled video gamers play 
   competitively in the same way that traditional sports have competitions 
   in baseball, basketball, and football.  Esports encompasses competitions
    across a variety of video games and this industry is real, growing globally,
     and investable. In fact, over 380 million people watch Esports worldwide both
      online and in person. More people watched the 2016 world finals of popular Esports
       game League of Legends (43 million viewers) than the NBA Finals Game 7 that year
        (31 million viewers). With its fragmented landscape and digital platform, the Esports 
        sector holds promise for a multitude of monetization opportunities. – an activity that
         has shown a phenomenal growth in interest the past years. Due to its globalized and online
          nature, viewership for Esports is significant, making it comparable to traditional sports
</p>

</div>




</div>
</div>

</mat-card>

<!--END What Is E-Sports-->

<br>


<!--Sports Arena Your home for esports-->
<mat-card class="urhome">
<div class="container">
 <div class="row">
     <h1 class="main-heading wow lightSpeedIn" data-wow-duration="1s">
                     Triangulum Sports – Galaxy Of Gamers</h1>
 </div>
</div>
<section class="main">
 <div class="container">
     <div class="row">
         <div class="col-md-6"> 
     <div class="img-box wow bounceInUp center" data-wow-duration="2s" data-wow-delay="0s">
         <img src="assets/img/urhome2.jpg" height="370" width="550">
     </div>
 </div>
 
 <div class="col-md-6">
     <div class="text-block wow bounceInDown center" data-wow-duration="4s">
         <h2>The Aim of Triangulum Sports-</h2>
         <p>The aim of Triangulum Sports as a company is to  provide the platform & setup the
                eco-system where game developer can develop the online games for Esports Company.
                 Considering the current trend and development in Esports, it has become a real sport
                  not the entertainment merely.
<br><br>
There is huge potential in this arena, principally in India. This platform would be available
    for Gamers, Game Developers, team owners and business stakeholders which would bring all on 
    single platform to work and earn altogether.
    <br> <br>
    Focusing on providing platform for organizing  events and broadcasting video streaming via online
     channels like YouTube, Twitch.tv etc.</p>

    </div>
 </div>
     </div>
 
</div>
 
</section>
<section class="main bg-t">
 <div class="container">
     <div class="row">
         <div class="col-md-4"> 
     <div class="img-box wow bounceInUp" data-wow-duration="2s" data-wow-delay="0s">
               <img src="assets/img/urhome5.jpg" height="300" width="300" style="border-radius: 50%">
     </div>
 </div>
 
 <div class="col-md-4">
     <div class="img-box  wow bounceInLeft" data-wow-duration="4s">
               <img src="assets/img/urhome4.jpg"height="300" width="300" style="border-radius: 50%">
     </div>
 </div>
 <div class="col-md-4">
     <div class="img-box  wow bounceInRight" data-wow-duration="4s">
       <img src="assets/img/urhome6.jpg" height="300" width="300" style="border-radius: 50%">
     </div>
 </div>
     </div>
 
</div>
 
</section>
<section class="main">
 <div class="container">
     <div class="row">
      <div class="col-md-6">
          
     <div class="text-block wow fadeInUp" data-wow-duration="2s">
         <h2>Bringing Various Stakeholders-</h2>
         <p>Bringing various stakeholders i.e. Gamers, Game Developers, Broadcasters etc.
                on a single platform to work together to take this industry to the new heights.
                <br><br>
                Also it would be organizing the grand events like real sports events where gamers
                  would be competitive as an individual as well as team.
                  <br><br>
                     It would be evolved as new job creating industry by enabling  trainings, 
                     investment and promotion. It will continue to scale in terms of both popularity
                      among players, fans and revenue for businesses. </p>
   
   </div>
 </div>
  <div class="col-md-6"> 
     <div class="img-box  wow bounceInUp center" data-wow-duration="4s">
               <img src="assets/img/urhome3.jpg" height="370" width="550">
     </div>
 </div>
     </div>
 
</div>
 
</section>
</mat-card>

<!--End Sports Arena Your home for esports-->

<br>

<!-- Start Recent Game-->

<div class="retxt">
       <button>Add</button>
      <h2>RECENT GAME</h2> 
  </div>    


   <mat-card class="recent-game">

<div class="row re-game-row">

<div class="col-md-4">
<img src="assets/img/home3.jpg" width="100%" height="auto">
<mat-card class="re-game-txt">
  <h4>Suspendisse ut justo tem por, rutrum</h4>
  <br>
  <p>Lorem ipsum dolor sit amet, consectetur adipisc ing
        ipsum dolor sit amet, consectetur elit.</p>

        <br>
        <br>
        <span>3 Coments</span>
        <span style="float: right">
           <span class="like"><i class="material-icons"> favorite_border</i></span> 
          <span class="coments"> <i class="material-icons"> feedback</i></span> 
       </span>
</mat-card>


</div>

<div class="col-md-4">
       <img src="assets/img/home4.jpg" width="100%" height="auto">
       <mat-card class="re-game-txt">
                 <h4>Suspendisse ut justo tem por, rutrum</h4>
                 <br>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisc ing
                       ipsum dolor sit amet, consectetur elit.</p>
            
                       <br>
                       <br>
                       <span>3 Coments</span>
                       <span style="float: right">
                          <span class="like"><i class="material-icons"> favorite_border</i></span> 
                         <span class="coments"> <i class="material-icons"> feedback</i></span> 
                      </span>
            </mat-card>
  </div>

  <div class="col-md-4">
            <img src="assets/img/home5.jpg" width="100%" height="auto">
            <mat-card class="re-game-txt">
                      <h4>Suspendisse ut justo tem por, rutrum</h4>
                      <br>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisc ing
                            ipsum dolor sit amet, consectetur elit.</p>
                 
                            <br>
                            <br>
                            <span>3 Coments</span>
                            <span style="float: right">
                               <span class="like"><i class="material-icons"> favorite_border</i></span> 
                              <span class="coments"> <i class="material-icons"> feedback</i></span> 
                           </span>
                 </mat-card>
       </div>


</div>
</mat-card>

<!-- End Recent Game-->


<br><br><br>
<!-- Start Review of Game-->
<mat-card class="review-game">
<div class="reviewtxt">
         <button>NEW</button>
        <h2>RECENT REVIEWS</h2> 
    </div>    


     

<div class="row review-game-row">

<div class="col-md-3">
    
             <div class="review-1">9.5</div> 
           
         
<img src="assets/img/review2.jpeg" width="100%" height="auto">
<mat-card class="review-game-txt">
    <h4>PUBG</h4>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisc ing
          ipsum dolor sit amet, consectetur elit.</p>

</mat-card>


</div>

<div class="col-md-3">
     <div class="review-2">9.5</div> 
         <img src="assets/img/review3.jpg" width="100%" height="auto">
         <mat-card class="review-game-txt">
                   <h4>Assasin’’s Creed</h4>
                   <br>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisc ing
                         ipsum dolor sit amet, consectetur elit.</p>
              
                         
              </mat-card>
    </div>

    <div class="col-md-3">
         <div class="review-3">9.0</div> 
              <img src="assets/img/review4.jpg" width="100%" height="auto">
              <mat-card class="review-game-txt">
                        <h4>Call of Duty Series</h4>
                        <br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisc ing
                              ipsum dolor sit amet, consectetur elit.</p>
                   
                   </mat-card>
         </div>


         <div class="col-md-3">
                 <div class="review-4">9.3</div> 
                     <img src="assets/img/review5.jpg" width="100%" height="auto">
                     <mat-card class="review-game-txt">
                               <h4>Counter Strike</h4>
                               <br>
                               <p>Lorem ipsum dolor sit amet, consectetur adipisc ing
                                     ipsum dolor sit amet, consectetur elit.</p>
                          
                          </mat-card>
                </div>


</div>
</mat-card>


<!-- End Review of Game-->








<div class="partner" style="background: antiquewhite;">
 <div class="row heading-box">
     <h1 class="text-center">Business Partners</h1>
 </div>
</div>

<section class="partner-details">
 <div id="slider-animation" class="carousel slide" data-ride="carousel">

<!-- Indicators -->


<!-- The slideshow -->
<div class="carousel-inner">
 <div class="carousel-item active">
<div class="cr-img"> <img src="assets/img/partner1.jpg" height="auto" width="auto" alt="Los Angeles">
</div>
 <div class="text-box-1">
         <h1 class="wow slideInRight" data-wow-duration="2s">Business Partner</h1>
         <p class="wow slideInLeft" data-wow-duration="2s">
                 The term 'business partner' can have a wide range of meanings, 
                 with one of the most frequent being a person who, along with another
                  person, plays a significant role in owning, managing, or creating a
                   company (two best friends who start a business together would consider
                    themselves business partners).
            </p> </div>
 </div>
 <div class="carousel-item">
     <div class="cr-img">
     <img src="assets/img/partner2.png"  height="auto" width="auto">
     </div>
<div class="text-box-2">
         <div class="row align-items-center">
                
         <div class="col-md-6">
             <h1 class="wow fadeInUp" data-wow-duration="4s">Technical Partner</h1>
             <h2 class="wow fadeInUp" data-wow-duration="6s">Magath Consultants</h2>
         <p class="wow fadeInUp" data-wow-duration="2s">
                 Magath Consultants Pvt Ltd provide innovative business solutions by using latest technologies.
                 and measure  performance  by client satisfaction.
                 Growth is never by chance. It is sustained hard work

            </p></div>
         <div class="col-md-6 wow slideInLeft" data-wow-duration="4s">
                 <img src="assets/img/magath-logo.jpg" >
     </div>
     </div>
 </div>
 </div>
   <div class="carousel-item">
       <div class="cr-img">
   <img src="assets/img/partner3.jpg"  height="auto" width="auto">
       </div>
<div class="text-box-3">
         <div class="row align-items-center">
                 
         <div class="col-md-6  wow slideInRight" data-wow-duration="4s">
             <h1>Legal Partner</h1>
             <h2>Athena Legal</h2>
         <p>
         Athena believes that the talents and viewpoints of a diverse team create the 
         fulfilling professional environment that has brought us consistent recognition
          from our clients. At Athena Legal, diversity is a part of our long-term
           strategy, not just a short-term program.
          </p>
     </div>
         <div class="col-md-6  wow slideInLeft" data-wow-duration="4s">
                 <img src="assets/img/athena-logo.jpg" >
            
        
     </div>
     </div>
 </div>
</div>
<div class="carousel-item">
        <div class="cr-img">
    <img src="assets/img/partner4.jpg"  height="auto" width="auto">
        </div>
 <div class="text-box-3">
          <div class="row align-items-center">
                  
          <div class="col-md-6  wow slideInRight" data-wow-duration="4s">
              <h1>Broadcasting Partner</h1>
              <h2>VNU engageLIVE</h2>
          <p>
                VNU (pronounced Venue) is a technology & data company focused on maximizing 
                the LIVE experience and driving actionable analytics within any LIVE sports,
                 eSports, concert, movie and entertainment venue around the world.
           </p>
      </div>
          <div class="col-md-6  wow slideInLeft" data-wow-duration="4s">
                  <img src="assets/img/engage-logo.jpg" >
             
         
      </div>
      </div>
  </div>
 </div>

</div>
<!-- Left and right controls -->
<a class="carousel-control-prev" href="#slider-animation" data-slide="prev">
 <span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#slider-animation" data-slide="next">
 <span class="carousel-control-next-icon"></span>
</a>

</div>
 
</section>