<img src="assets/img/director.jpg" height="auto" width="100%">

<br><br>

<!--Board Of Director-->
<div class="heading-board">
 <h2>Board of Directors</h2>
 </div>
 <br>


 <div class="container">
<div class="row">
     <!--START Board Of Director Kartikey Mishra-->
     <div class="col-md-4">
     <a href="#" data-toggle="modal" data-target=".pop-up-1">
     <img src="assets/img/kartikey.jpg" width="270" height="250" class="img-responsive img-rounded center-block" alt="">
   
     <p class="director-name">Kartikey Mishra (Founder)<br>
      <button mat-raised-button  color="accent" >View Details</button>
     </p>
    </a>

       
        <div class="modal fade pop-up-1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-1" aria-hidden="true">
         <div class="modal-dialog modal-lg">
           <div class="modal-content">
     
             <div class="modal-header">
                     <h4 class="modal-title" id="myLargeModalLabel-1">Kartikey Mishra ( Founder and Head of Business Operations & Finance)</h4>
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              
             </div>
             <div class="modal-body">
                 <div class="row">
                     <div class="col-md-4">
                 <img src="assets/img/kartikey.jpg" class="img-responsive img-rounded center-block" alt="" width="300">
            </div>
            <div class="col-md-8">
        <p class="modal-text">
 Kartikey Mishra, a guy who can do extensive number crunching even in his sleep, is a graduate 
 in banking and finance from London, UK and MBA in Marketing from Adelaide, Australia. His 
 passion and love for sports encouraged him with an idea of entering E-Sports market. 
 Kartikey Mishra has previously worked with the World’s most popular ground, Lord’s The
  Home of Cricket in London and is currently associated with South Australia Cricket
   Association at Adelaide Oval as Manager of Business Development International. He 
   has varied experience of more than nine years with multinational exposure to India,
    Middle East, Europe and Down Under. As an entrepreneur and start-up enthusiast,
     Kartikey is also an ardent fan of Mumbai Indian in Indian Premier League and 
     childhood Premier League Chelsea Football Club Fan. If you don't find him cracking pitches,
      look some place where Football is on!
        </p>

            </div>
        </div>
                </div>
           </div>
         </div>
       </div>
     </div>
     <!--END Board Of director kartikey Mishra-->


      <!--START Board Of director  Rishabh Mishra -->
     <div class="col-md-4">
      <a href="#" data-toggle="modal" data-target=".pop-up-2">
     <img src="assets/img/rishabh.jpg" width="270" height="250" class="img-responsive img-rounded center-block" alt="">
     
     <p class="director-name">Rishabh Mishra (Co-Founder)<br>
      <button mat-raised-button  color="accent">View Details</button>
    </p>
     
    </a>

     <div class="modal fade pop-up-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-2" aria-hidden="true">
       <div class="modal-dialog modal-lg">
         <div class="modal-content">
   
           <div class="modal-header">
                   <h4 class="modal-title" id="myLargeModalLabel-2">Rishabh Mishra ( Co-Founder and Strategy Head) </h4>
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            
           </div>
           <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                <img src="assets/img/rishabh.jpg" class="img-responsive img-rounded center-block" alt="" width="300">
           </div>
           <div class="col-md-8">
       <p class="modal-text">
Dr Rishabh Mishra is based out of New York, United States. He is Doctor in Internal 
Medicine at Albert Einstein College of Medicine. He is also an Adviser on healthcare 
to Business Council of International Understanding (BCIU, NY), Reliance Foundation 
Hospital and Tata Trust. He has been diehard fan of Manchester United in Premiership,
 Passionate about Indian National Cricket team, and follower of Chicago Bulls in National 
 Basketball Association and Patriots in National Football League. Having always had passion
  for sports, he got translated into me being a casual gamer during my time away from the 
  hospital. While in US and Europe having observed the Esports industry has taken a formal
   shape, it’s still in a nascent stage in India. We truly believe that Esports and gaming 
   is the next generation of sports industry. Our aim is to promote growth in the Esports 
   industry by bringing different stakeholders together.


       </p>

           </div>
       </div>
               </div>
         </div>
       </div>
     </div>
   </div>
<!--END Board Of director Rishabh Mishra -->

<!--START Board Of director Rajat P Srivastava-->
 <div class="col-md-4">
    <a href="#" data-toggle="modal" data-target=".pop-up-3">
     <img src="assets/img/rajat.jpg" width="270" height="250" class="img-responsive img-rounded center-block" alt="">
   
     <p class="director-name">Rajat P Srivastava (Co-Founder)<br>
      <button mat-raised-button  color="accent">View Details</button>
     </p>
    </a>
   
     <div class="modal fade pop-up-3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-2" aria-hidden="true">
       <div class="modal-dialog modal-lg">
         <div class="modal-content">
   
           <div class="modal-header">
                   <h4 class="modal-title" id="myLargeModalLabel-2">Rajat P Srivastava (Co-Founder)</h4>
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            
           </div>
           <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                <img src="assets/img/rajat.jpg" class="img-responsive img-rounded center-block" alt="" width="300">
           </div>
           <div class="col-md-8">
       <p class="modal-text">
        Rajat prakash, a first generation lawyer, is an expert in corporate law and capital market. 
        A graduate from Cardiff university, he was recently facilitated for being one of the 
        ‘visionaries of Uttar Pradesh’ by dainik bhaskar group. Before finding his own law firm, 
        Athena legal, he accumulated cross border experience in many leading law firms such as Akin 
        Gump Strauss Hauer & Feld (Washington D.C), Mayer Brown LLP (Brussels). His sheer professionalism 
        along with brilliant business acumen has made him win many accolades.
       </p>

           </div>
       </div>
               </div>
         </div>
       </div>
     </div>
     </div>
<!--End Board Of director Rajat P Srivastava-->


 </div>
    </div>
<!--End Board Of Director-->